extends layout

block nav
    nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/about") About
          li 
            a(href="/contact") Contact


block content
    include leaguetable.html