extends layout

block content

    div#last10
        img(src='../images/' + team + '_last10_bar.jpg' alt='last 10')

    div#probability
        img(src='../images/' + team + '_psn.jpg' alt='probability')

    div#rollingaverages
        img(src='../images/' + team + '_avg.jpg' alt='rollingaverages')
